{{ header }}
<div class="pts-container">
  <ul class="pts-breadcrumb">
    {% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert pts-alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="pts-row">{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'pts-col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'pts-col-sm-9' %}
		{% else %}
		{% set class = 'pts-col-sm-12' %}
		{% endif %}
		<div id="pts-content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
	  <div>
	  		{% if sellercontacts %}
					<table class="pts-table pts-table-striped pts-table-bordered">
						{% for contact in sellercontacts %}
					  <tr>
						<td><strong>{{ contact.customer_name }} -</strong>
						{% if customer_id == '0'  %} </br><strong> {{ contact.customer_email }} </strong> {% endif %}</strong>
						- {{ contact.customer_messages }}						
						</td>
						<td class="pts-text-right">
						{{ contact.date_added }}
						</td>
					  </tr>
					{% endfor %}
					</table>
					<div class="pts-col-sm-6 pts-text-left">{{ pagination }}</div>
					<div class="pts-col-sm-6 pts-text-right">{{ results }}</div>
					{% else %}
					<div class="pts-text-center">{{ text_empty_result }}</div>
					{% endif %}
					</div>
					{% if loggedin and customer_id != '0'  %}
      <form action="" method="post" enctype="multipart/form-data" class="pts-col-sm-12 pts-form-horizontal">
	  <input type="hidden" name="customer_id" value="{{ customer_id }}">
        <fieldset>
          <div class="pts-form-group required">
            <label class="pts-col-sm-2 pts-control-label" for="input-enquiry">{{ entry_enquiry }}</label>
            <div class="pts-col-sm-10">
              <textarea name="customer_message" rows="10" id="input-enquiry" class="pts-form-control">{{ customer_message }}</textarea>
				{% if error_enquiry %}
              <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        <div class="pts-buttons">
          <div class="pts-pull-right">
            <input class="pts-btn pts-btn-primary" type="submit" value="{{ button_submit }}" />
          </div>
        </div>
      </form>
	   {% endif %}
      {{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
