{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
	  {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
	{% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	{% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_edit_commission }}</h3>
      </div>
	  
      <div class="panel-body">
	  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-customer">
        <div class="well">
          <div class="row">
		  	  
				<div class="col-sm-4">
				  <div class="form-group">
				   <input type="hidden" name="filter_id" value="{{ commission_id }}" class="form-control" />
					<label class="control-label" for="input-name">{{ entry_categories }}</label>
					<input type="text" name="filter_name" value="{{ category_name }}" placeholder="{{ entry_categories }}" id="input-name" class="form-control" readonly />
				  </div>
				</div>  
				
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="control-label" for="input-commission">{{ entry_commission }}</label>
					<input type="text" name="filter_commission" value="{{ category_commission }}"  placeholder="{{entry_commission }}"  class="form-control" />
				  </div>
				</div>
						<div class="col-sm-4">
				  <div class="form-group">
					<label class="control-label" for="input-commission">{{ entry_commission_fixed }}</label>
					<input type="text" name="filter_commission_fixed" value="{{ filter_commission_fixed }}"  placeholder="{{entry_commission_fixed }}"  class="form-control" />
				  </div>
				</div>
				{% if show_seller_group == 1 %}
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="control-label" for="input-commission">{{ entry_seller_group }}</label>
					<select name="filter_seller_group" class="form-control">
					{% for seller_group in seller_groups %}
					<option {% if seller_group == seller_group.customer_group_id %} selected="selected" {% endif %} value="{{ seller_group.customer_group_id }}">{{ seller_group.name }}</option>
					{% endfor %}
					</select>
				  </div>
				</div>
				{% endif %}
				<div class="col-sm-4">
				  <div class="form-group">
				  <input type="submit" value="{{ button_save }}" class="btn btn-primary" class="button_edit" data-toggle="tooltip" title="{{ button_edit }}" style=" padding: 8px 20px 8px 20px; margin: 22px 10px 0px 10px;" >				  
					
				  </div>
				</div>
             
            </div>
          </div>
		  </form>
        </div>       
      </div>
    </div>
  </div>

{{ footer }} 
